<p>„To byl trhák, kdo neměl, nešel s módou. Také jsem měla.“</p>
<p>„‚Máš céčka?' Ty jsme měli asi úplně všichni... Byl to hit...! Čára, výměna,... Chodili jsme ověšený jako blázni, velký frajeři!“</p>
<p>„Taky jsem sbíral céčka a koho znám, tak je sbíral, a byl o ně obrovský zájem.“</p>
<p>„To byla mánie... A jak nebyly k sehnání, tak jsme každou přestávku ve škole hráli o ně čáru.“</p>
<p>„Když jsem jela s dětma na pouť, tak se netěšily tak na kolotoče jako na to, s čím si koupí céčka.“</p>
<p>„Hráli jsme s nimi takovou hru, že jsme je házeli na čáru, a kdo byl nejblíž, sebral je všechny a dal si je na řetízek. Nakonec jsme si je vraceli. Vyhrával ten, kdo měl v průběhu hry nejdelší řetízek.“</p>