<p>Plastová céčka měla původně sloužit jako úchytky pro závěsy. V osmdesátých letech propukla mezi dětmi céčková mánie. Kdo byl „in”, sbíral céčka. Děti vytvářely řetězy propojených céček a zdobily se jimi. Byl to takový tehdejší módní doplněk.</p>
<p>Postupně se objevily i jiné tvary céček (S, 3, B, D, E, §, …) a rozšiřovala se i paleta materiálů (perleť, průhledný plast, fosforeskující plast).  Tyto typy byly obzvláště ceněné. Děti si je vzájemně měnily a stanovovaly si „směnné kurzy“.</p>
<p>S céčky se hrála tzv. čára - hra, při níž se céčka házela k označené čáře a ten, kdo k ní dohodil nejblíže, vyhrál céčka ostatních hráčů. Hra byla doplněna o dodatečná pravidla (která se mohla lokálně lišit).</p>