<h1>Spomienky Oskarovho brata Norberta</h1>
<p>
  Môj otec bol významný obchodník a po príchode Nemcov mu bolo poradené, aby
  nezostával doma, pretože ho Nemci môžu hľadať. [...] Rozhodol sa preto
  okamžite odísť. [...] Keďže bol piatok [predvečer šabatu, počas ktorého zbožní
  Židia nesmú cestovať], museli sme ísť peši, boli sme ortodoxní. Jediné veci,
  ktoré si môj otec so sebou zobral, boli talit a tfilin [plášť a remienky
  nosené pri modlitbe]. To bolo všetko, čo zostalo bohatému, prosperujúcemu a
  rešpektovanému obchodníkovi. Rozhodli sme sa ísť do Bohumína, kde žil brat
  mojej matky, Jakob Bronner. [...] z Bohumína sme pokračovali do rodiska môjho
  otca, Osvienčimu.
</p>
<p>
  Keď Nemci vtrhli do Československa, môj o desať rokov starší brat Oskar bol v
  Poľsku na obchodnej ceste. Pracoval pre našu textilnú spoločnosť, cestoval po
  krajine a predával naše výrobky. [...] Akonáhle nemeckí vojaci vkročili do
  Ostravy, zavolali sme mu a povedali, aby sa nevracal. Oskar mal dostatok
  peňazí, a tak sa porozprával s niekoľkými priateľmi a zorganizoval lietadlo,
  ktorým prileteli z Varšavy do Londýna. Bohužiaľ im ale odmietli povoliť vstup.
  [...] Brat a jeho priatelia sa preto rozhodli požiadať o status utečencov, ale
  Briti im ho nechceli uznať a rozhodli sa ich poslať naspäť do Poľska. Bolo tam
  desať českých židovských utečencov, desať mladých mužov z Československa. Môj
  brat bol mladý, ale veľmi vynaliezavý a zohral zásadnú úlohu v tom, že tých
  desať mužov mohlo nakoniec zostať. Keď mali na letisku nastúpiť do lietadla,
  ktorým mali byť vrátení, brat odrazu vytvoril veľký zmätok. Kričal a jačal,
  ľahol si na zem, kopal okolo seba a odmietal vstať. Neskôr nám o tom
  rozprával. Bolo tam niekoľko reportérov, ktorí ho fotili.
</p>
<p>
  [...] dánsky pilot našťastie odmietol vzlietnuť. Keď videl ten zmätok,
  odmietol tých zúfalých ľudí vziať na palubu. Bolo to jediné lietadlo z Londýna
  do Varšavy. Znovu to bol mazl [šťastie]. Tak tých desať mužov vo väzení
  vyčkávalo na svoj osud, zatiaľ čo Briti o nich rozhodovali. Potom o tejto
  udalosti vyšiel článok na titulnej strane Daily Mailu, s obrázkom môjho brata,
  ktorého odnášajú naspäť do lietadla [...]. Vzbudilo to veľkú nevôľu. [...]
  Nakoniec boli všetci desiati prepustení a po niekoľkých dňoch získali
  povolenie zostať v Anglicku.
</p>
