<h1>Moravská Ostrava, 9. mája 1939</h1>
<p>
  Je skutočne smutné, že ste tam boli ponechaní až po takých ťažkostiach a takej
  komédii, ale aj tak som sa na základe tvojho opisu udalostí a priložených
  obrázkov musela od srdca smiať. Každopádne si sa veľmi snažil a stala sa z
  teba veličina, Max si myslí, že by si mal a conto tohto do Hollywoodu [!]
  Ostatne aj Frida nám poslala podobný výstrižok z jedných francúzskych novín,
  kde ťa odnášajú.
</p>
