<h1>Českí utečenci, ktorí prileteli, zostanú</h1>
<p>
  <i
    >Od našich londýnskych korešpondetov<br />
    Londýn, piatok</i
  >
</p>
<p>
  Dobrodružstvo jedenástich utečencov českej národnosti, ktorí v stredu pristáli
  na letisku v Croydone, kde boli zadržaní a mali byť zajtra vrátení loďou do
  Dánska, malo šťastný koniec. Židovský pomocný výbor pre utečencov z Nemecka,
  ktorý doteraz neprijímal zodpovednosť za utečencov z Česko-Slovenska, sa dnes
  rozhodol za nich ako mimoriadne opatrenie poskytnúť nevyhnutné záruky na to,
  aby mohli byť v krajine prijatí.
</p>
<p>
  Z úradných miest sa dozvedáme, že táto skupinka priletela z Krakova v Poľsku v
  prenajatom lietadle, s medzipristátím v Kodani. [...]
</p>
<p>
  Miestny pohraničný útvar [v Croydone] kontaktoval ministerstvo vnútra, a to sa
  obrátilo na výbory pre utečencov, ktoré o tejto skupine nič nevedeli a neboli
  ochotné ich podporovať. V dôsledku toho bolo týchto jedenásť ľudí zadržaných a
  mali byť následne poslaní loďou naspäť do Kodane.
</p>
<p>
  Možno predpokladať, že táto skupinka podnikla zúfalý pokus o vstup do našej
  krajiny kvôli novému vízovému systému pre Čechov prichádzajúcich do Anglicka,
  ktorý má vstúpiť do platnosti 1. apríla a ktorý bol oznámený v januári. [...]
</p>
<p>
  Koluje veľa historiek o množstve utečencov vrátených počas tohto týždňa.
  Získal som tieto údaje. Do Croydonu v stredu priletelo celkovo 257 cudzincov
  všetkých kategórií, z toho 118 Nemcov a 45 Čechov. Odmietnutých bolo 10, z
  ktorých všetci boli Česi. Včera v Croydone pristálo 241 cudzincov, z ktorých
  82 boli Nemci a 81 Česi. Vstup bol zamietnutý 20 Čechom.
</p>
