<p>375. A particularly cruel demand from the Versailles dictate. German children suffered the consequences of malnutrition, and 800,000 civilians died as a result of the blockade. Still, the German government had to hand over 140,000 dairy cows to Belgium and France.</p>
<p>In 1931, one monitored dairy cow provided 3678 liters of milk.</p>

<ol type="a">
    <li>How many liters of milk would 140,000 cows have provided in one year?</li>
    <li>How many liters of milk would each German schoolchild have been able to receive per day for breakfast? (8 million schoolchildren, 240 days of school.)</li>
    <li>1932 brought 69,000 tons of butter to Germany. What percent of this amount would it be possible to make from the milk of those cows? (28l of milk makes 1kg of butter.)</li>
  </ol>
