<p>„Měla jsem malého hnědého, uháčkovala jsem mu čepičku a ušila batůžek, ale jednou jsem ho zapomněla na táboře. Snad udělal někomu radost. A tím skončilo moje dětství, bylo mně 16.”</p>
<p>„Já neměla, ale chodila jsem si s ním hrát ke kamarádce, ta jich měla víc, malé i velké.”</p>
<p>„Já jsem ho v roce 1985 koupila za 15 bonů.”</p>
<p>„Pořád ho mám, už 34 let, tenkrát jsem ho koupila synovi do postýlky už v porodnici.”</p>
<p>„Když jsem ho dostala, skákala jsem čtyři metry vysoko.”</p>
<p>„Stála jsem na něj před Vánoci frontu a jak jsem byla ráda, že na mě vyšli dva, jeden žlutý a malý hnědý, to měly děti radost.”</p>
<p>„Byla to u nás podpultovka, schovala mi je pro děti kámoška, prodávala v Prioru. To bylo radosti.”</p>
<p>„Na mončičákovi bylo nejdůležitější, že se mu dal dát prst do pusy.”</p>