<p>Vážení spoluobčané, vážený pane prezidente, vážení hosté,</p>
<p>společně se nacházíme v jedinečné a neopakovatelné situaci - zítra ráno se probudíme nejen v České republice, ale i v Evropské unii. Svou vlast neopouštíme, nenahrazujeme, ale přesto na základě své svobodné vůle se stáváme i součástí většího společenství. Evropská integrace [...] představuje zásadní obrat ve vztazích mezi evropskými zeměmi. Místem řešení sporů přestalo být bitevní pole a staly se jím jednací místnosti. Z nepřátel se stali partneři. A střední generace v zemích unie je první, která prožívá celý svůj život v míru. [...] </p>
<p>Stojíme těsně před cílem, který je zároveň startem do nové budoucnosti. Změna, kterou zítřek přinese, je jiná již jen proto, že jsme si ji zvolili sami, v referendu. Také se nemění náš politický systém - zůstává prezident republiky, stejně jako parlament, vláda, samosprávné a další orgány, zůstává samozřejmě naše ústava. [...]</p>
<p>Naše rozhodnutí nebylo krokem do neznáma - vidíme, jak v členských zemích unie lidé žijí, že nestrádají, že nepřišli o svou národní či místní identitu. [...]</p>
<p>Dámy a pánové, naše budoucnost spočívá v našich rukách. Unie pouze otevírá prostor a možnosti - jak je využijeme, záleží na nás. I z toho důvodu vstupuji do Evropské unie s vysokým očekáváním. [...] Nejednou se může něco nepodařit, nejednou můžeme zaznamenat dílčí neúspěch nebo zakolísat, ale jsem si naprosto jist, že vše překonáme a že tato dnešní historická volba se nám bude vyplácet.</p>
<p>Vážení spoluobčané, je mi ctí vstupovat do Evropské unie spolu s Vámi. Ať žije Česká republika v Evropské unii! Děkuji Vám.</p>
<p><i>Španělský sál Pražského hradu, 30. dubna 2004</i></p>
