<p>Vážení přítomní, vážení spoluobčané,</p>
<p>za několik hodin se staneme svědky a současně budeme i aktivními účastníky jedné z nejvýznamnějších událostí dosavadní existence českého státu. [...] O dnešní půlnoci přestane Česká republika existovat jako samostatný státní celek a stane se součástí Evropské unie. [...]</p>
<p>Jak už to v životě člověka i celé lidské společnosti bývá, dnešním dnem něco získáváme, ale současně i něco ztrácíme. Měli bychom udělat všechno pro to, aby byl poměr toho, co získáváme a co ztrácíme, pro nás příznivý, což v žádném případě není a nebude automatické. [...]</p>
<p>Musíme se v prostoru, který nám otevírají, prosadit nejen jako jednotlivci a jednotlivé instituce, ale i jako celý český stát, jehož úkolem je zajistit prosazování toho, co přesahuje individuální zájmy každého z nás. Tyto širší zájmy existují a nepřipusťme ani na okamžik, aby byly někým z nás či někým mimo nás označovány za dávno překonaný nacionalismus. [...]</p>
<p>My dnes nevstupujeme do Evropy, protože v té už dávno jsme a byli jsme v ní vždycky, i v dobách naší největší poroby. Dnes vstupujeme do Evropské unie a náš úkol je proto daleko prozaičtější: umět se orientovat a pohybovat v bruselských strukturách a v jimi utvářeném složitém nadnárodním celku. Nesmíme se tam ztratit. Musíme zajistit, aby nedošlo k rozmazání naší identity a ke ztrátě základních atributů českého státu, kterých si – pevně věřím – všichni vážíme a vážit budeme i nadále. [...]</p>
<p><i>Španělský sál Pražského hradu, 30. dubna 2004</i></p>