.video-stamps-bar{
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 4rem;
  align-items: center;
  justify-content: center;


  background: radial-gradient(farthest-corner, rgba(27, 19, 19, 0.6) 0%, rgba(27, 19, 19, 0.7) 100%);
  border-radius: 3.2rem;
  border: 3px dashed #1b1313;
  box-shadow: 0 0 3.2rem rgba(27, 19, 19, 0.8);
  color: hsl(2, 81%, 94%);
  max-width: 1200px;
  padding: 1.6rem 1.6rem 0.8rem;
  position: relative;
  text-align: center;

  .emoji-icon{
    cursor: pointer;
    transition: transform 0.3s ease-in;
    height: 6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;


    &:hover{
      transform: scale(1.3);
    }
  }
}

.video-stamps-bar-labels{
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: start;

  .stamp-label{
    color: $beauty-bush;
    //opacity: 0.75;
    font-size: 1rem;
  }

}

.stamp-wrapper{
  width: 100%;
  height: 1.5rem;
  position: absolute;
  top: -1rem;

  .mark{
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    animation: transformX 0.5s ease;

    .stamp{
      position: absolute;
      top: -1rem;
      transform: translateX(-50%);
      left: 1px;
      cursor: pointer;
      z-index: 2;

      &.removable-stamp{
        &:hover::after {
          opacity: 1;
        }
        &::after {
          content: 'X';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5em;
          color: $color-red;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
    }
  }

  @keyframes transformX {
    0% {transform: translateY(-50%)}
    100% {transform: translateY(0%)}
  }
}
