mixin svg(svgs)
  //- LAYOUT
  //- Horizontal layout if hasGallery
  //- Vetical layout if hasDraggable

  -
    const hasDraggable = (svgs.pretahovani !== undefined) && (svgs.pretahovani !== false);
    const hasGallery = (svgs.galerie !== undefined) && (svgs.galerie !== false);

    const classVerticalDraggable = hasDraggable

    const classDraggable = hasDraggable ? "module-with-draggable" : "";
    const classGallery = hasGallery ? "with-submodule" : "";

    //- Pokud je galerie a .nastaveni.layout je nedefinované OR svgs.nastaveni.layout
    const classVertical =
      (
        (svgs.nastaveni === undefined && hasGallery)
        || (
          svgs.nastaveni !== undefined
          && (
            svgs.nastaveni.layout === "vertikalni"
          )
        )
      )
      ? "layout-vertical" : "";

    //- Pokud není galerie a .nastaveni.layout je nedefinované OR svgs.nastaveni.layout
    const classHorizontal =
      (
        (svgs.nastaveni === undefined && !hasGallery)
        || (
          svgs.nastaveni !== undefined
          && (
            svgs.nastaveni.layout === "horizontalni"
            || svgs.nastaveni.layout === "galerie"
            || svgs.nastaveni.layout === "velka-galerie"
          )
        )
      )
      ? "layout-horizontal" : "";

      //- if (!classHorizontal.length) console.log(cv.cviceni.slug, classHorizontal)
    const classReverse = (
      svgs.nastaveni !== undefined
      && svgs.nastaveni.poradi
      && svgs.nastaveni.poradi.obracene) ? "is-reversed" : false;
    const sortableInheritor = (
      svgs.nastaveni !== undefined
      && svgs.nastaveni.poradi
      && svgs.nastaveni.poradi.duplikovat) ? svgs.nastaveni.poradi.duplikovat : false;


  .svgs(class= [classVertical, classHorizontal, classGallery, classDraggable] data-sortable-inheritor= sortableInheritor)

    .svgs__inner
      //- draggable modul
      if (hasDraggable)
        +pretahovani(svgs.pretahovani)

        .svgs-container(class=[classReverse])
          each svg, index in svgs.soubory
            .svgs__item(data-sortable-inheritor-item=(sortableInheritor ? index : false))
              +svg-component(svg)

              if svg.popisek
                +captionOnHover(svg.popisek)
      else
        //- because legacy reasons
        //- TODO: get rid of this if else statement
        if (hasGallery)
          //- same as +faksimile-component
          +gallery(svgs.galerie, svgs.nastaveni.layout)

        .sources.svgs-container(class=[classReverse])
          each svg, index in svgs.soubory
            .item.source(data-sortable-inheritor-item=(sortableInheritor ? index : false))
              +svg-component(svg)

              if svg.popisek
                +captionOnHover(svg.popisek)


//-
mixin svg-component(svg)
  //- Using node modules in Pug
  //- https://github.com/pugjs/pug/issues/2615#issuecomment-260216542
  -
    const svgFunctions = svg.funkce ? svg.funkce.join(" ") : "";
    const svgColors = svg.barvy ? svg.barvy.join(" ") : "";
    const image = {};
    image.src = "../assets/img/" + svg.soubor;
    image.dimensions = imageSize("src/img/" + svg.soubor);
    const duplicatedSource = svg.duplikovat ? svg.duplikovat.join(" ") : false;
    const canDrop = svg.drop ? svg.drop : false;

  //- width= image.dimensions.width
  //- height= image.dimensions.height
  svg.svg.unselectable(
    id= svg.id
    data-svg-target= svgFunctions
    data-svg-colors= svgColors
    data-save=(svg.interactive !== false ? "html" : false)
    data-duplicate-svg= duplicatedSource
    data-svg-drop= canDrop
    preserveaspectratio="xMidYMin meet"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewbox="0 0 " + image.dimensions.width + " " + image.dimensions.height
  )
    g.do-not-remove.unselectable.svg-view(
      x="0.5"
      y="0.5"
      width=(image.dimensions.width - 1)
      height=(image.dimensions.height - 1)
    )
      image.do-not-remove.unselectable(
        draggable="false"
        xlink:href= image.src
        x="0"
        y="0"
        width= image.dimensions.width
        height= image.dimensions.height
      )

      if svg.komiks
        +svg-comics(svg.komiks, svg.id)

//-
mixin svg-comics(comics, svgId)
  g.do-not-remove.svg-komiks
    each item, index in comics

      case item.kategorie

        when "text"
          -
            let placeholder = item.placeholder || '';
            if (!placeholder) {
              switch (item.subkategorie) {
                case 'promluva':
                  placeholder = t.svg.comics.speech[lang]
                  break
                case 'myslenka':
                  placeholder = t.svg.comics.thought[lang]
                  break
                case 'vypravec':
                  placeholder = t.svg.comics.narrator[lang]
                  break
              }
            }

          foreignobject.do-not-remove.svg-text.svg-category(
            class="svg-komiks-" + item.kategorie
            class= item.subkategorie ? "svg-komiks-" + item.subkategorie : ""
            class= item.subjekt
            x= item.pozice[0]
            y= item.pozice[1]
            data-svg-text=""
            width="1"
            height="1"
          )
            .svg-category-label !{item.label || placeholder}
            //- .svg-circle.svg-circle-text
            textarea.do-not-remove.svg-textarea(
              id= svgId + "_text-" + item.subkategorie + "-" + (index + 1)
              placeholder= placeholder
              maxlength="333"
              tabindex="-1"
              data-save=""
              data-svg-category= item.subkategorie
              data-svg-textarea-target= svgId
              style="height: 73px;"
            )

        when "znacka"
          circle.svg-circle.do-not-remove.svg-text.svg-category.unselectable(
            id=`${svgId}_circle-${item.pozice[0]}-${item.pozice[0]}`
            class=`svg-komiks-${item.kategorie} ${item.barva}`
            cx= item.pozice[0]
            cy= item.pozice[1]
            data-svg-circle=""
            data-svg-type="circle"
            style="pointer-events: none;"
          ) 


//-
mixin radialMenu(slides)
  - let point = false
  - let path = false
  - let colors = false
  - let komiks = false

  #radial-menu(data-radial-menu="")
    .radial-menu-wrapper
      .radial-menu-tooltip(data-radial-menu-tooltip="")
      each slide in slides
        if slide.svg
          each funkce in slide.svg.soubory[0].funkce
            if ((funkce === "znacky" || funkce === "kresleni") && colors !== true)
              - colors = true
              .radial-menu-item.radial-menu-color#color-point-blue(data-radial-menu-item="color-point-blue" data-radial-menu-item-tooltip= t.svg.changeColor[lang])
              .radial-menu-item.radial-menu-color#color-point-red(data-radial-menu-item="color-point-red" data-radial-menu-item-tooltip= t.svg.changeColor[lang])
            //- Tečkování
            //- Pokud cvičení tečkování obsahuje
            //- A zároveň pokud ještě nebylo vygenerováno
            //- Kreslení
            //- Pokud cvičení kreslení obsahuje
            //- A zároveň pokud ještě nebylo vygenerováno
            //- if (funkce === "kresleni" && path !== true)
            //-   - path = true
            //-   .radial-menu-item#create-path(data-radial-menu-item="create-path") /
            //- if ((funkce === "komiks") && komiks !== true)
            //-   - komiks = true
            //-   .radial-menu-item.radial-menu-text#text-komiks-promluva(data-radial-menu-item="category" data-category="promluva" data-radial-menu-item-tooltip="Promluva")
            //-     i.icon-svg
            //-       svg
            //-         use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-speech")
            //-   .radial-menu-item.radial-menu-text#text-komiks-myslenka(data-radial-menu-item="category" data-category="myslenka" data-radial-menu-item-tooltip="Myšlenka")
            //-     i.icon-svg
            //-       svg
            //-         use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-thought")

      .radial-menu-item#create-text(data-radial-menu-item="create-text" data-radial-menu-item-tooltip= t.svg.addText[lang])
        i.icon-svg
          svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-svg-text")
      .radial-menu-item#remove-content(data-radial-menu-item="remove-content" data-radial-menu-item-tooltip= t.svg.remove[lang])
        i.icon-svg
          svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close")
