include modul-video.pug

mixin videoStamps(videoStamps)
  -
    const classVertical = videoStamps.nastaveni.layout === "vertikalni" || videoStamps.nastaveni.layout === "galerie" || videoStamps.nastaveni.layout === "velka-galerie" ? "layout-vertical" : "";
    const classHorizontal = videoStamps.nastaveni.layout === "horizontalni" ? "layout-horizontal" : "";

  .row.video-stamps-player(id=videoStamps.video.id data-video-stamp="" data-save="video-stamp")
    .video-container.media-video(class= classVertical + " " + classHorizontal )
      +videoPlayer(videoStamps.video)
    .video-stamps-bar
      +stampBar(videoStamps.video.stamps, videoStamps.video.id)
    .video-stamps-bar-labels
      +stampBarLabels(videoStamps.video.stamps)

mixin stampBar(stamps, moduleId)
  each stamp in stamps
    if stamp.emoji
      .emoji-icon(data-stamp="" data-id=`${moduleId}-stamp-item-${stamp.id}`)= stamp.emoji

mixin stampBarLabels(stamps)
  each stamp in stamps
    if stamp.popisek && stamp.emoji
      .stamp-label #{stamp.emoji} #{stamp.popisek}
