mixin prameny(sources)
  //- chceme mít lupu k dispozici automaticky u všech obrázků?
  - const isLupa = cv.cviceni.funkce.indexOf("lupa") > -1;

  .row.sources(class={'sources--grid': sources.length > 4})
    each source, index in sources
      //- <!-- PARAMETR: pramen-#{(1+index)} -->
      .item.source
        .source-container
          //- fulscreen toggle
          +fullscreenToggle()

          img.source-image(id="img-" + (1 + index) data-lupa-target=(isLupa ? "" : false) src="../assets/img/" + source || source.src alt=source.popisek || source)

          if source.popisek
            +captionOnHover(source.popisek)

mixin popiskyPramenu(captions)
  .row.captions
    each caption, index in captions
      //- <!-- PARAMETR: popisek-pramenu-#{(1+index)} -->
      .item.caption
        p !{typeset(caption)}
