<p>Praha 30. 4. 2015</p>
<p>Vážený pane starosto,</p>
<p>posílám Vám asi 50 fotografií mého tatínka Františka Čadka, které zhotovil v květnových dnech r. 1945 při osvobozování Rakovníka. V té době mu bylo 35 let a bydlel v Rakovníku na Vinohradech, proto většina fotografií je odtamtud, část z náměstí a z Bezděkova. Je mi líto si fotografie nechat v tyto dny v šuplíku. Možná se ještě hodí na nějakou výstavu nebo do Vašeho místního časopisu či novin. Vím, že jsem si na ně vzpomněla asi dost pozdě, ale dejte je prosím třeba do archivu. Přece jen dost dokumentují tu dobu a zachycují i samotný Rakovník z r. 1945 – např. ulici Vladislavovu a další na Vinohradech, náměstí s obchody atd. Třeba by se někteří obyvatelé i poznali.  [...]</p>
<p>Nejhezčí snímek pro nás byl snímek obrněného vozidla, na kterém je s kamarádkami moje maminka. Smála se a mávala na nic netušícího tatínka, který to všechno fotografoval u příjezdu do Rakovníka nad Vysokou bránou u sv. Václava [...]. Maminka je ještě na jednom snímku, na autě na náměstí u obchodu, kde jsme říkávali „U Bretšnajdrů“, maminka drží v ruce prapor. Byla velmi fotogenická a jak je i vidět i odvážná. [...] </p>
<p>Budu ráda, když mé fotografie ještě využijete, táta by byl určitě rád. </p>
<p>Přeji Vám hodně energie, zdraví a chuti do zkrášlování města a vylepšování života „Rakovničáků“. [...]</p>
<p>Hezký den přeje Miluše P.</p>