<p><b>Co ovlivnilo vývoj Slavonína po roce 1945?</b></p>
<p>Po roce 1990 nastal velký nárůst v osobním i nákladním automobilovém provozu. Celá společnost expandovala, a proto vzniká řada nových lokalit na bydlení, obchodních nebo odpočinkových zón. Ve Slavoníně se staví mnoho nových rodinných domků, rodiny mají často dvě i více aut a proto houstne provoz, vzniká problém s parkováním. Lidem se staví nákupní supermarkety a vznikají celé nové obchodní oblasti, služby a privátní lékařská centra, kam směřují rodiny trávit volný čas. A právě blízkost dálnice a obchvatu města, je důvodem vysoké koncentrace obyvatel a obliby těchto prodejních míst. Lidé si na ně zvykli a pravidelně sem míří.</p>

<p><b>Jak do vývoje Slavonína zasáhla výstavba dálniční výpadovky?</b></p>
<p>Slavonín se stal plnohodnotnou městskou částí. Je to tranzitní čtvrť, kterou projíždí denně velké množství aut. Starousedlíci to nesou těžce, protože mají ve svých vzpomínkách daleko klidnější Slavonín. Mladá generace se naopak chce bavit a tento „ruch velkoměsta“ se jim líbí. Dobré dopravní spojení s centrem je pro tuto skupinu mladých velice důležité. Velký provoz samozřejmě s sebou nese zplodiny a emise z automobilů, dopravní komplikace a někdy i dopravní nehody. Velký provoz jde ruku v ruce s nervozitou a spěchem. Naštěstí máme jako okrajová čtvrť Olomouce i spoustu nádherných polních cest na cyklovyjížďky, pěší turistiku a cílů, kde je možné jít pouze pěšky a kochat se krásným výhledem na přírodu na panorama města.</p>

<p><b>Jak lidé ve Slavoníně vnímají existenci výpadovky, která odděluje původní obec od obchodní zóny?</b></p>
<p>V Olomouci je velká nabídka kultury, ze které si určitě vybere každý. My ve Slavoníně se snažíme lidem nabídnout především ochotnické divadlo, ze kterého čiší radost a obdiv vůči všem hercům. Taky letní kino na fotbalovém hřišti láká především obyvatele Slavonína na sousedské posezení u piva, makrely a zhlédnutí filmu. Pro děti organizujeme Pohádkový les, Mikuláše a vánoční setkání. Chceme, aby se naše aktivity lidem líbily a zvykli si na ně ve Slavoníně.</p>
