//- same as +faksimile-component
mixin gallery(gallery, layout = "galerie")
  -
    let classNames = [];
    const classSize = layout === "velka-galerie" ? "layout-gallery-big" : "layout-gallery";
    const classGallery = "gallery-" + ((gallery.length > 1) ? "multiple" : "single");
    classNames.push(classSize);
    classNames.push(classGallery);

  .gallery-container(
    class= classNames
    data-gallery=(gallery.some(item => item.typ === 'vyber' || item.duplikovat) ? "" : false)
  )
    each galleryItem in gallery

      if galleryItem.typ
        .gallery-item(class="gallery__item--" + galleryItem.typ)
          case galleryItem.typ
            when "svg"
              +captionOnHover(galleryItem.popisek)
              //- fulscreen toggle
              +fullscreenToggle()
              //- -
              //-   galleryItem.objekt.id = galleryItem.id + "-svg"
                //- galleryItem.objekt.interactive = false
              //- svg
              +svg-component(galleryItem.objekt)
            when "text"
              - const duplicatedSource = galleryItem.duplikovat ? galleryItem.duplikovat.join(" ") : false;
              +captionOnHover(galleryItem.popisek)
              p(data-duplicate= duplicatedSource) !{typeset(galleryItem.objekt || '')}
            when "vyber"
              .selected-item(data-selectedId= galleryItem.vyberId)
                p.selected-item__placeholder Výběr je zatím prázdný
            default
              p typ #{galleryItem.typ} is not definated

      else
        //- get filename extension
        -
          if (!galleryItem.soubor) console.err('Není definovaný: `soubor`')

          const itemExtension = getExtension(galleryItem.soubor);
          const isAudio = checkExtension(extensionsAudio, itemExtension) ? "audio" : "";
          const isImage = checkExtension(extensionsImage, itemExtension) ? "image" : "";
          const isVideo = checkExtension(extensionsVideo, itemExtension) ? "video" : "";
          const itemType = isAudio + isImage + isVideo;

        .gallery-item(class="media-" + itemType)
          case itemType

            when "audio"
              case layout
                when "velka-galerie"
                  +audioPlayer(galleryItem)
                default
                  +audioPlayerSimple(galleryItem)

            when "image"
              +captionOnHover(galleryItem.popisek)
              //- fulscreen toggle
              +fullscreenToggle({image: galleryItem.zvetseny})
              //- image
              img(
                src="../assets/img/" + galleryItem.soubor
                alt= galleryItem.popisek || galleryItem.soubor
                data-lupa-target=""
              )

              if galleryItem.zvetseny
                img.is-hidden(src="../assets/img/" + galleryItem.zvetseny data-lupa-target="" alt= galleryItem.popisek || galleryItem.zvetseny)

            when "video"
              +videoPlayer(galleryItem)
