//- TODO:
//- 1. vertical/horizontal layouts
//- 2. support for svg, audio, video, editor tags, user text
mixin pretahovani(draggable)
  -
    const duplicatedSource = draggable.dataFrom ? draggable.dataFrom.join(" ") : false;

    //- default value of `wasDroped` is `true`
    if (draggable.wasDropped !== false) draggable.wasDropped = true

  //- for default html node for tag duplication from text
  if duplicatedSource
    if !draggable.items
      - draggable.items = [{"objekt": "","medium": "tag"}];
    else
      - draggable.items.unshift({"objekt": "","medium": "tag"});

  //- .row
  .draggable(class= draggable.wasDropped ? "has-was-dropped" : "")
    if draggable.name
      .draggable__title
        h6= draggable.name

    .draggable__items(
      id= draggable.id
      data-tagName=draggable.tagName
      data-from=duplicatedSource
      data-draggable=""
      data-drag-place=""
      data-save="html"
    )
      if draggable.items

        each item, index in draggable.items
          +pretahovaniItem(draggable.id, item, index)
            .draggable__handle
              svg(xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#sortable-handle")

      else
        p Not draggable items!

mixin pretahovaniItem(id, item, index)
  if item.popisek
    +captionOnHover(item.popisek)

  case item.medium

    when "tag"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="tag"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--${item.medium} media-${item.medium}`
        class={'hidden': !item.objekt}
      )
        .draggable__item__inner
          .keywords-item
            span !{item.objekt}
            .keywords-item-icon
          block

    when "uzivatelsky text"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="user-text"
        data-id=`${id}-drag-item-${index}` class=`draggable__item--user-text media-${item.medium}`
      )
        .draggable__item__inner
          //- modify to the right notation for the uzivatelskyText modul
          - const uzivatelskyText = { otazky: [item.objekt]};
          +uzivatelskyText(uzivatelskyText)
          block

    when "obrazek"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="image"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--image media-${item.medium}`
      )
      .draggable__item__inner
          //- fulscreen toggle
          +fullscreenToggle()
          //- image
          img(src="../assets/img/" + item.objekt alt)
          block

    when "svg"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="svg"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--${item.medium} media-${item.medium}`
      )
        .draggable__item__inner
          //- fulscreen toggle
          +fullscreenToggle()
          //- svg
          - item.objekt.id = item.objekt.id + "-svg"
          //- - item.objekt.interactive = false
          +svg-component(item.objekt)
          block

    when "audio"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="audio"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--${item.medium} media-${item.medium}`
      )
        .draggable__item__inner
          +audioPlayerSimple(item.objekt)
          block

    when "video"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="video"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--${item.medium} media-${item.medium}`
      )
        .draggable__item__inner
          +videoPlayer(item.objekt)
          block

    when "text"
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="text"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--${item.medium} media-${item.medium}`
      )
        .draggable__item__inner
          .text__item
            span !{item.objekt}
          block

    default
      .draggable__item(
        data-tooltip="✓"
        data-draggable-item="default"
        data-id=`${id}-drag-item-${index}`
        class=`draggable__item--${item.medium} media-${item.medium}`
      )
        .draggable__item__inner
          p medium #{item.medium} is not definated
          block
