<h2>Prowokacja wrogów ludu polskiego w Poznaniu</h2>
<p>[...] 28 czerwca na ulicach Poznania doszło do poważnych zamieszek.</p>
<p>Od pewnego czasu imperialistyczni agenci [...] próbowali wykorzystać trudności gospodarcze i braki w niektórych poznańskich zakładach pracy do sprowokowania działań przeciwko władzy ludowej. Wróg do prowokacji wybrał Poznań nieprzypadkowo, bo właśnie tam odbywają się międzynarodowe targi. Celem prowokacji było rzucenie cienia na dobre imię Polski Ludowej i zakłócenie rozwoju pokojowej współpracy międzynarodowej.</p>
<p>28 czerwca agentom wroga udało się sprowokować zamieszki uliczne. Niektóre budynki publiczne zostały zaatakowane, przy czym były ofiary w ludziach. [...] </p>
<p>Organy władzy państwowej, opierając się o uświadomioną część klasy robotniczej, przejęły kontrolę nad sytuacją i przywróciły porządek w mieście. [...]</p>
<p>Poznańska prowokacja została zorganizowana przez wrogów Polski w momencie, gdy partia i rząd z wielką troską starają się zlikwidować braki w życiu pracujących, doprowadzić do demokratyzacji życia publicznego. </p>
<p>Polska Agencja Prasowa w południe 29 czerwca poinformowała, że ​​życie w Poznaniu wraca do normy. W zakładach pracy, które wstrzymały działalność w czwartek, wznowiono normalnie pracę. Została także wznowiona uliczna komunikacja tramwajowa i autobusowa. </p>
<p>Z raportu wynika, że podczas prowokacji zginęło 38 osób, a 270 zostało rannych. Wśród ofiar są żołnierze wojska polskiego oraz funkcjonariusze organów bezpieczeństwa, którzy zginęli podczas obrony budynków publicznych przed atakiem wywrotowców. [...]</p>
<p>Każdy, kto podniesie rękę przeciwko władzy, może być pewien, że władza ludowa mu tę rękę odetnie.</p>
