<h2>Dekret Konstytucyjny Prezydenta Republiki z dnia 2 sierpnia 1945 r. w sprawie uregulowania obywatelstwa czechosłowackiego osób narodowości niemieckiej i węgierskiej</h2>

<p>nr 33/1945 Dziennika Ustaw</p>

<p>Na wniosek rządu i po uzgodnieniu ze Słowacką Radą Narodową postanawiam:</p>

<p>§ 1 <br>
  (1) Obywatele czechosłowaccy narodowości niemieckiej lub węgierskiej, którzy nabyli obywatelstwo niemieckie lub węgierskie zgodnie z przepisami obcego włdz okupacyjnych, stracili obywatelstwo czechosłowackie z dniem nabycia tego obywatelstwa. 
  (2) Pozostali obywatele czechosłowaccy narodowości niemieckiej lub węgierskiej tracą obywatelstwo czechosłowackie z dniem wejścia w życie niniejszego dekretu. 
  (3) Dekret ten nie dotyczy Niemców i Węgrów, którzy w okresie podwyższonego zagrożenia republiki (§ 18 dekretu prezydenta republiki z dnia 19 czerwca 1945 r., nr 16 Dz.U., w sprawie ukarania przestępców nazistowskich, zdrajców i ich pomocników oraz w sprawie nadzwyczajnych sądów ludowych) w raporcie urzędowym  oświadczyli, że są Czechami lub Słowakami. 
  (4) Czesi, Słowacy i członkowie innych narodów słowiańskich, którzy w tym okresie podali się za Niemców lub Węgrów, będąc do tego zmuszeni lub w wyniku okoliczności zasługujących na szczególną uwagę, nie są uważani za Niemców lub Węgrów zgodnie z niniejszym dekretem, jeśli Okręgowa Rada Narodowa przyjmie oświadczenie o wiarygodności narodowej, które po weryfikacji powyższych faktów wystawia właściwa Powiatowa Rada Narodowa (Powiatowa Komisja Administracyjna). </p>

<p>§ 2 <br>
  (1) Osoby objęte przepisami § 1, które udowodnią, że pozostały wierne Republice Czechosłowackiej, nigdy nie przewiniły się wobec narodu czeskiego i słowackiego, i albo czynnie uczestniczyły w walce o jej wyzwolenie, albo cierpiały pod terrorem nazistowskim lub faszystowskim, zachowują obywatelstwo czechosłowackie.</p>
