<h2>Dlaczego ich wysiedlono?</h2>

<p>Ucieczki i wypędzanie dużych grup ludzi wydają się towarzyszyć całej historii ludzkości. Od początku XX wieku wypędzanie większych grup ludności z Europy i przyległych regionów było najczęściej związane z przynależnością etniczną tych osób. Obydwie fale przymusowego wysiedlenia z rejonów przygranicznych ziem czeskich, w latach 1938 i 1945–47, mają również taki charakter.</p>

<p>Po oderwaniu tych terenów od Czechosłowacji i ich przyłączeniu do terenów nazistowskich, większość (około pół miliona) tutaj mieszkających Czechów opowiedziała się za przynależnością do Rzeszy, co umożliwiło im (choć bez pełni praw obywatelskich, które mieli na podstawie zasad rasowych tylko obywatele Rzeszy narodowości niemieckiej) pozostać w rejonie przygranicznym. Około 250 tys. Czechów zdecydowało się wyjechać w głąb kraju, często wyjeżdżając szybko i w trudnych warunkach, choć formalnie mogli zabrać ze sobą cały majątek. Tysiące ludzi nie miało takiego wyboru, ponieważ ich niemieccy sąsiedzi i różne pronazistowskie, często uzbrojone grupy, wypędzały ich siłą. </p>

<p>W 1945 r. sytuacja prawie 3 mln osób narodowości niemieckiej była inna. W wyniku dekretów prezydenta republiki, wydanych pod koniec wojny i w pierwszych miesiącach powojennych, Niemcom, z wyjątkiem tzw. antyfaszystów, obywatelstwo czechosłowackie nie miało być przywracane. Tym samym stracili wszelkie prawa, a jeśli nie zostali przymusowo wypędzeni lub zabici (podaje się co najmniej 20 000 martwych) podczas tzw. dzikich deportacji wiosną i latem 1945 r., zostali wysiedleni do Niemiec na podstawie umów międzynarodowych. Pozostać mogło tylko niespełna 200 tysięcy Niemców. Jednocześnie uznani antyfaszyści stanowili tylko znikomy procent z nich. W większości pozostali Ci, którzy byli niezbędnymi pracownikami w ważnych, z punktu widzenia państwa, sektorach gospodarki lub chodziło po prostu o osoby, które państwo nie zdążyło wysiedlić.</p>
