<h2>Układ monachijski</h2>

<p>Monachium, 29 września 1938 r.</p>

<p>Niemcy, Zjednoczone Królestwo, Francja i Włochy, biorąc pod uwagę osiągnięte już 
    w zasadzie porozumienie co do odstąpienia Niemcom obszaru zamieszkanego przez Niemców sudeckich, zgodziły się na poniżej wymienione terminy i warunki tej cesji oraz na zarządzenia, jakie mają być wydane, przy czym, na mocy tego porozumienia, każde z tych państw uważa się za odpowiedzialne za kroki niezbędne dla zapewnienia jego wykonania:</p>

<p>§ 1. <br>
    Ewakuacja rozpocznie się 1 października.</p>

<p>§ 2. <br>
    Zjednoczone Królestwo, Francja i Włochy zgodne są co do tego, żeby ewakuacja tego obszaru była zakończona 10 października, i to bez zniszczenia jakichkolwiek urządzeń, i że Rząd Czechosłowacki ponosi odpowiedzialność za to, że ewakuacja będzie dokonana bez uszkodzenia wspomnianych urządzeń.</p>
