<p>Má tudíž vegetarismus vznešený zajisté úkol: </p>
<p>1. Člověčenstvo ve mravech jemniti, city útliti, soucit k němým tvářím našich domácích spolutvorů buditi, krvelačnosť obmezovati a konečně vraždu nevinných zvířat a hnusné orgie masité a lihové úplně zrušiti.</p>
<p>2. Vychovati a síliti charaktery, menšiti chtíče a potřeby zbytečné, tužiti tělo i vůli, sílu i sebezapření u člověka. </p>
<p>3. Předcházet onemocnění, zejména tužiti proti nemocem nakažlivým, kterým ústrojí vegetariána je mnohem méně přístupné než masojeda, protože, jak tvrdí vegetariánští spisovatelé, oni droboulincí, pouhému oku neviditelní cizopasníci, v organismu krmeném rostlinami nenacházejí podmínek příznivých, k rozmnožení, jako v masožravci. Učiňiti co možná zbytečnými lékaře, šetřiti tudíž pracovných sil a času člověčenstva a zabezpečit všem zdravý, čilý, vysoký věk. </p>
<p>4. Usnadniti, totiž lacinějším učinit i živobytí posud s masem a s lihovinami velmi drahé.</p>