<p>Ukończył Towarzysz pomyślnie studia i wchodzicie w praktyczne życie.</p>
<p>Nasza Ludowo-Demokratyczna Republika stworzyła Towarzyszowi wszelkie warunki do tego, abyście mogli uczestniczyć z powodzeniem w budowaniu socjalizmu w naszej ojczyźnie.</p>
<p>Wszyscy nasi ludzie pracy oczekują od Towarzysza, że wzmocnicie szeregi nowej inteligencji pracującej, że chętnie podzielicie się swoją wiedzą ze współpracownikami i będziecie wzorowo wypełniali wszystkie obowiązki odpowiedzialnego i wykwalifikowanego pracownika tam, gdzie jesteście, Towarzyszu, potrzebni.</p>
<p>Dlatego zgodnie z rozporządzeniem rządu nr 20/52 i 56/53 Dz.U. w sprawie rozmieszczenia absolwentów uczelni wyższych i wybiórczych szkół zawodowych, zgodnie z państwowym narodowym planem gospodarczym oraz zgodnie z waszym przygotowaniem fachowym do zatrudnienia, państwo nakazuje Towarzyszowi zatrudnienie w ramach właściwego Ministerstwa Paliw w zakładzie pracy HDBS n.p. Silvestr, Dol. Rychnov. W tym zakładzie pracy jesteście zobowiązani rozpocząć pracę najpóźniej w dniu ... i pracować w podanym resorcie przez okres 3 lat.</p>
<p>Zgodnie ze wspomnianymi rozporządzeniami rządu, kierownictwo zakładu skieruje  Towarzysza do pracy, do której zostaliście wyszkoleni, a na czas trwania zobowiązania nie może z Towarzyszem bez ważnych powodów rozwiązać stosunku pracy. Kierownictwo zakładu będzie również dbać o podnoszenie Waszych kompetencji zawodowych i uświadomienia politycznego oraz zapewnienie Wam zakwaterowania.</p>
<p>Warunki zaszeregowania do pracy:</p>
<p>Stanowisko pracy: <code>pomocnik głównego energetyka.</code></p>
<p>Warunki wynagrodzenia po rozpoczęciu pracy: <code>1410 Kčs + premia.</code></p>
<p>Zakwaterowanie: <code>dla kawalera w domu młodych, dla żonatych zapewnimy mieszkanie w ramach planowanego budownictwa mieszkaniowego ciągu ½ roku.</code><p>
