<p>
  V osmdesátém devátém nebo i předtím, když jsem byl v odborech, měli mladý lidi
  obrovskou šanci. Já vím, že výdělky nebyly až takový, jako jsou dneska.
  Samozřejmě, výdělky vylítly úplně šíleně nahoru. Ale pomoc mladým rodinám byla
  neskutečná proti tomu, když srovnávám dneska a co bylo předtím. Stavěly se
  byty, Poldovka s městem stavěla byty. Ty byty se neprodávaly tak, jako se
  prodávají dneska za miliony nebo za statisíce. Ty byty jsme dostali od
  Poldovky. Stačilo podepsat, že deset let zůstaneme v Poldovce, a zaměstnanec
  dostal byt. I já jsem takhle dostal byt.
</p>
<p>
  Novomanželský půjčky. Jak si dneska mladá rodina má něco zařídit, když ty
  půjčky hypotéky jsou úplně šílený? A byly půjčky, byly na to peníze a ty
  půjčky byly. Proto mě nemůže někdo přesvědčovat, že na nic nebyly peníze a že
  to byla potápějící se loď, jak Poldovka, tak celá republika. Očekávali jsme,
  že bude svoboda projevu, i když nemůžu říct, že v tom socialismu, že by byl
  člověk nějak utlačovaný. Já jsem se necejtil bejt a spousta lidí, to vám můžu
  říct – nebudu mluvit za miliony, ale tady co znám, tak spousta lidí, a nebál
  bych se říct, že celá Poldovka v dělnických profesích – se nikdy necítila bejt
  nějaká utlačovaná ze strany vedení nebo ze strany státu.
</p>
<p>
  V socialismu prostě člověk žil, chodil do práce, měl výhody nějaký samozřejmě.
  A to, že v tom… v tom osmdesátém devátém proběhla ta revoluce: samozřejmě lidi
  očekávali, že to bude lepší. Já nemůžu soudit lidi, který říkali, že není
  svoboda slova. Já jsem to nezažil. Nevnímal jsem to, že bych byl nějak
  omezovaný, ale je možný, že lidi, kteří byli někde na jinejch místech, tak
  tohleto vnímali. Já jim to neberu, je to možný. Ale nemyslím si, že po tom
  osmdesátém devátém až do dnešní doby, že to šlo k něčemu lepšímu.
</p>
