<p>
  Myslím si, že svoboda jde zažít vždycky, že svoboda je můj vnitřní postoj.
  Myslím si, že tohle není vázaný na ten režim. Ale některý věci jsou samozřejmě
  v nesvobodě komplikovaný. Myslím si, že v rámci rodiny a nějakých bezpečných
  přátelských vazeb jsme si říkali, co jsme chtěli a svobodný to bylo, jenom
  jsme věděli, že tohle nebudeme nikam... Dneska můžu říct o komkoliv cokoliv,
  ale předtím zkritizovat kohokoliv někde z vedení, kdyby to někdo udal, tak to
  bylo nebezpečný. Nebo vykládat o svých kontaktech s některýma lidma, který
  přeci jenom úplně nebyli pro ten režim, to bylo nebezpečný. Jakoby jednak pro
  ty lidi a vlastně i pro nás.
</p>
<p>
  Nebo scházení, třeba jsme jezdili na duchovní cvičení, a to by samozřejmě pro
  toho kněze byla konečná, kdyby se někdo dozvěděl, že jsme se tam sešli a on s
  náma nějak pracoval, no tak mu seberou státní souhlas. Tak to samozřejmě se
  vědělo, že se tam nevyfotíme spolu, že to nebudeme nikde vykládat. To bylo,
  že, že stát se postará, stát má všechno na starosti, a to převzetí
  odpovědnosti do vlastních rukou je někdy náročný. A já si myslím, že ale
  spousta lidí si pořád myslí: „Stát to vyřeší a stát se o mě postará, stát to
  zařídí.“ To bych řekla, že je přežitek ze socialismu.
</p>
