<h2>Proslov Patrice Lumumby k vyhlášení nezávislosti Konga 30. června 1960</h2>

<p>Muži a ženy Konga, vítězní bojovníci za nezávislost,</p>
<p>zdravím vás ve jménu konžské vlády. Žádám vás, mí přátelé, kteří jste neúnavně bojovali v našich řadách, abyste 30. červen 1960 označili jako významný den, který bude navždy vryt do vašich srdcí. [...] Bylo to hodně přes osmdesát let koloniální vlády a naše rány jsou příliš čerstvé a bolestivé, aby bylo možné je zapomenout. [...] Společně můžeme nastolit spravedlnost a zajistit spravedlivou odměnu za práci. Můžeme ukázat světu, co černoši dokážou, když mohou pracovat ve svobodě a můžeme vytvořit z Konga chloubu Afriky. [...] Můžeme změnit všechny staré zákony na nové, které budou ušlechtilé a spravedlivé. Můžeme zastavit utlačování svobodného myšlení. Postaráme se o to, aby všichni občané požívali plného rozsahu svobod zajištěného Deklarací lidských práv.</p>
