<h2>Proslov belgického krále Baudouina I. k vyhlášení nezávislosti Konga z 30. června 1960</h2>

<p>Pane prezidente, pánové,</p>
<p>nezávislost Konga byla formována výsledky práce vymyšlené géniem krále Ludvíka II., jím vykonané s pevnou a trvalou odvahou a s belgickou houževnatostí. [...] Když se Leopold ujal velkého úkolu, který se dnes naplňuje, nechápejme ho jako dobývání, ale jako civilizování. Kongo bylo vybaveno železnicemi, silnicemi, vzdušnými a vodními trasami, které díky propojování jeho obyvatel prospěly jejich jednotě a přiblížily zemi světovým rozměrům. Byly zbudovány četné nemocnice. Bylo zlepšeno a modernizováno zemědělství. [...] Nezpronevěřte se své budoucnosti uspěchanými reformami a nenahrazujte struktury, které vám Belgie dala, dokud si nebudete jisti, že máte lepší.</p>
