<h2>Provokace nepřátel polského lidu v Poznani</h2>
<p>[...] došlo dne 28. června v Poznani k vážným nepokojům. </p>
<p>Od jisté doby se imperialističtí agenti [...] pokoušeli využít hospodářských těžkostí a nedostatků v některých poznaňských závodech k vyprovokování akcí proti lidové moci. Nepřítel si zvolil k provokacím Poznaň nikoli náhodou, neboť zde právě probíhá mezinárodní veletrh. Cílem provokací bylo vrhnout stín na dobré jméno lidového Polska a narušit rozvoj mírové mezinárodní spolupráce. </p>
<p>Dne 28. června se podařilo agentům nepřítele vyprovokovat pouliční nepokoje. Byly přepadeny některé veřejné budovy, při čemž došlo k obětem na lidských životech.  [...] </p>
<p>Veřejné orgány, opírající se o uvědomělou část dělnické třídy, ovládly situaci a obnovily ve městě pořádek. [...] </p>
<p>Provokace v Poznani byla zorganisována nepřáteli Polska v okamžiku, kdy se strana a vláda s obrovskou péčí snaží odstranit nedostatky v životě pracujících, dosáhnout demokratisace veřejného života. </p>
<p>Polská tisková kancelář oznámila v poledne 29. června, že život v Poznani se vrací do normálních kolejí. V závodech, které zastavily ve čtvrtek provoz, byla obnovena normální práce. Byla také obnovena pouliční tramvajová a autobusová doprava. </p>
<p>Zpráva uvádí, že za provokací přišlo o život 38 osob a 270 osob bylo zraněno. Mezi mrtvými jsou příslušníci polské armády a pracovníci bezpečnostních orgánů, kteří zahynuli při obraně veřejných objektů před útokem rozvratnických živlů.  [...] </p>
<p>Každý, kdo pozvedne ruku proti vládě, může si být jist, že lidová vláda mu tuto ruku utne.</p>
