<h2>Krvavé bouře v Poznani</h2>
<p>[...] Ve čtvrtek 28. června se ze všech částí Poznaně, kde se právě konal za účasti mnohých zástupců ze Západu průmyslový veletrh, shromáždili lidé na hlavním náměstí. Svědci popsali průvody, které pochodovaly městem za polskými vlajkami a skandovaly „Chceme chléb,” jako protest proti nesnesitelným životním podmínkám. [...] Poznaňští demonstranti později přepadli budovy komun. strany a tajné policie a z věznice vysvobodili řadu osob. Komunisté byli demonstracemi překvapení a zdá se, že i část policie přešla na stranu občanstva. Teprve vojsku, které je posádkou v městě, a narychlo přivolaným posilám z okolí se podařilo bouře částečně potlačit. Podařilo se to však jen střelbou z pušek, automatických zbraní a děl tanků do demonstrantů. Sama varšavská vláda, která pro přítomnost cizinců v městě nemohla zprávy o událostech potlačit, byla nucena přiznat v oficiální zprávě „ztráty na životech,” jichž jsou desítky.</p>
<p>Po návratu do Londýna z Poznaňského veletrhu referovalo několik Angličanů o nepokojích. „Desetitisíce demonstrantů zatarasilo ulice. Jeden z členů hnutí odporu mně řekl, že věc byla připravována několik měsíců… Na kasárna tajné policie se útočilo minomety”. A další:  [...] „Všichni lidé v ulicích byli šťastní a veselí…”</p>
<p>Budou-li události v Poznani předzvěstí dalších nepokojů za Želez. oponou nebo znamením k „utužení” stranické linie, ukáže nejbližší budoucnost.</p>
<hr>
<p>„OBAVY” V PRAZE A V BUDAPEŠTI! Československý rozhlas vysílal oficialní zprávu polské vlády o událostech v Poznani a doplnil ji varováním těm, kteří se domnívají, že je vhodná příležitost, aby následovali polského příkladu: „Kdokoliv by zvedl ruku proti režimu, nechť si uvědomí, že bude uťata!”</p>
