<h1>Poobedňajší čaj</h1>

<p>
  Nikto nerobí čaj tak dobre ako Briti – tu to nie je len tradícia, ale priam
  náboženstvo. Ak si chcete vychutnať ten najlepší čaj, zamierte do niektorej z
  kaviarní, napríklad do Huffkins (str. 143), alebo do vidieckeho hotela, kde sa
  podávajú klasické poobedňajšie olovranty – v podobe hostiny pre labužníkov s
  koláčikmi, sendvičmi a kanvicou čaju, pochopiteľne sypaného. Typický anglický
  nápoj sa popíja po malých dúškoch z čínskych čajových šálok. Ešte lepšie je,
  že každá oblasť má svoju vlastnú, mierne odlišnú verziu.
</p>
