<p>Fridrich, z boží milosti římský císař vyvolený, vždy rozmnožitel říše, král sicilský, […]</p>
<p>přihlížejíce k přeslavným službám oddanosti, které lid český prokazoval císařství římskému a že jasný král jejich Otakar od začátku mezi jinými knížaty zvláště před ostatními nás zvolil císařem a při naší volbě ustavičně a užitečně setrval: my jej králem ustanovujeme a jeho nástupcům navěky propůjčujeme: chtějíce, aby kdokoliv od nich bude zvolen králem, k nám nebo našim nástupcům přijel a náležitým způsobem odznaky královské přijal. Také povolujeme, aby on a jeho nástupcové drželi všechny hranice, které zmíněnému království patří, ať by jakkoliv byly odcizeny. Také jemu a jeho dědicům úplně povolujeme právo a moc uváděti v úřad biskupy jeho království; avšak tak, aby se těšili té svobodě a bezpečnosti, kterou mívali od našich předchůdců.</p>
