<p>Fridrich, z boží milosti římský císař vyvolený, vždy rozmnožitel říše, král sicilský, […]</p>
<p>přihlížejíce k přeslavným službám oddanosti, které lid český prokazoval císařství římskému a že jasný král jejich Otakar od začátku mezi jinými knížaty zvláště před ostatními nás zvolil císařem a při naší volbě ustavičně a užitečně setrval: my jej králem ustanovujeme a jeho nástupcům navěky propůjčujeme: chtějíce, aby kdokoliv od nich bude zvolen králem, k nám nebo našim nástupcům přijel a náležitým způsobem odznaky královské přijal. Také povolujeme, aby on a jeho nástupcové drželi všechny hranice, které zmíněnému království patří, ať by jakkoliv byly odcizeny. Také jemu a jeho dědicům úplně povolujeme právo a moc uváděti v úřad biskupy jeho království; avšak tak, aby se těšili té svobodě a bezpečnosti, kterou mívali od našich předchůdců.</p>
<p>K trvalé paměti poručili jsme toto privilegium napsati rukou Jindřicha z Paříže, notáře a věrného našeho, a zlatou bulou naší utvrditi.</p>
<p>Této věci svědkové jsou tito: arcibiskup z Bari, biskup Tridentský, biskup Basilejský, biskup kostnický, opat z Reichenau, opat svatého Havla, opat Wisemburský, hrabě Oldřich z Kyburka, hrabata Ludvík a Heřman z Froburka, […], komorník, a mnoho jiných velmožů a šlechticů, jejichž svědectvím je toto privilegium potvrzeno.</p>
<p>Stalo se toho roku od vtělení Páně tisícího dvoustého dvanáctého, v měsíci září, království pána našeho Fridricha nejjasnějšího, zvoleného císaře římského a vždy rozmnožitele říše krále sicilského, roku patnáctého.</p>
