<p>
  Tanec kostlivců je varianta mementa mori (v překladu: pamatuj, že jsi smrtelný, výraz připomínal poslední boží soud, který podle křesťanství čeká duši zemřelého).
</p>
<p>
  Vznikl patrně až pod bezprostředním dojmem černé smrti (tak se říkalo epidemii moru, protože způsoboval na těle černé skvrny).
</p>
<p>
  To, že smrt zčistajasna a nečekaně může vyrvat ze života představitele všech společenských vrstev, byla prastará životní zkušenost. Motiv tance kostlivců zdůrazňuje sílu a všemohoucnost smrti, která nikdy předtím nebyla tak patrná jako za moru.
</p>
