<p>Protož že jeho Milosť Císařská ráčí míti v zemích svých jednu víru, jeden loket a jednu míru, a tak že chce, aby všickni obyvatelé království českého s ním se u víře svato-svaté katolické samospasitedlné srovnali … vyjel jsem já Jan Jiří Harant z Polžic a Bezdružic z království českého z domu svého na poručení císaře Ferdinanda druhého pro náboženství evangelické podobojí, nemohouc srdcem náboženství podjednou přijít, (ke) kterémuž císař nám přistoupiti … poroučel…</p>
<p><small>(Paměti rytíře Jana Jiřího Haranta z Polžic a Bezdružic, mladšího bratra cestovatele Kryštofa Haranta z Polžic a Bezdružic, kterého nechal panovník po porážce stavů popravit, 1626)</small></p>
