<p>Odešel jsem z města Slaného pro náboženství, nechtělť svoliti a katolickým býti.</p>
<p><small>(Historický kalendář slánského měšťana Daniela Vepřka, 1626)</small></p>
<br>
<p>Ten den před Božím vstúpením [2. května] jel jsem z Meziříčí s manželkú a s dítkami, jsúci vypovědín patentem
  císařským. Dostal sem se do Trenčína…</p>
<p><small>(Paměti valašskomeziříčského puškaře Ondřeje Sivého 1637-1638)</small></p>
<br>
<p>Když tak čím dáleji větší soužení na nás ubohé od papeženců v městě Litoměřicích dokračovalo … toho dne žalostně se s
  ní (manželkou) rozžehnajíc, všeho tu nechajíc, tajně … z brány (jsem) vyšel.</p>
<p><small>(Kronika měšťana Václava Nosidla z Geblic, 1626)</small></p>
<br>
<p>Co měl smutný člověk činiti; v plné obci s sousedy svými se rozžehnal … před samým západem slunce s velikou žalostí …
  s hůlkou a kabelkou se ubíral … manželky své truchlé a zarmoucené i statečku svého tu v Boleslavi zanechal, do města
  Žitavy v Lužicích se obrátil a tam samotný bez manželky půl léta zůstával.</p>
<p>Kdo by pak v tom času toho neučinil a nepřestoupil, nemá více v království českém trpín býti a … z této země docela
  se vyhostiti a vystěhovati.</p>
<p><small>(Kronika mladoboleslavská měšťana Jiřího Kezelia Bydžovského, 1627)</small></p>
