mixin cviceniMetaDescription(title="Název cvičení", description="Popis cvičení", keywords="cvičení, dějepis")
  meta(name="description" content= description)
  meta(name="keywords" content= Array.isArray(keywords) ? keywords.join() : Object.keys(keywords).reduce((accumulator, item) => {return accumulator + keywords[item].join(", ") + ", "}, ""))
  title !{title}
