section.slide.next-slide.slide-export#slide-export
  +navigationButtonPrevious()

  .row
    .overlay(style="background-image: url(../assets/img/" + cv.cviceni.uvodniObrazek + ")")

    .content

      //- když je cvičení v prohlížecím módu
      .content__item.show-when-done.hidden
        .zadani
          h1(data-form="about-user-email") !{typeset(t.slideExport.done.h1[lang])}

      //- když je cvičení ve vyplňovacím módu
      .content__item.hide-when-done
        .zadani
          h1 !{typeset(t.slideExport.default.h1[lang])}

      .content__item
        //- TODO: translate
        h3 !{typeset(t.slideExport.userText[lang])}
        -
          const notes = [
            {
              "id": "text-notes",
              "instrukce": typeset(t.userText.placeholder[lang]),
              "minDelka": 0,
              "maxDelka": 999,
              "vyska": 4,
            }
          ]
        +userTexts-component(notes)

      .content__item.show-when-done.hidden
        button.button.tertiary(type="button" data-nav-button="prev" tabindex="-1") !{typeset(t.slideExport.done.return[lang])}

      .content__item.hide-when-done
        form#form-to-send(action=`/cviceni?slug=${cv.cviceni.slug}` method="post" tabindex="-1")
          input#odpoved_id(name="odpoved" value="abcdefghijklmnop" type="hidden" tabindex="-1")
          //- input#analytika_id(name="analytika" value="abcdefghijklmnop" type="hidden" tabindex="-1")

          button.button.button-ok(type="submit" data-save-button="submit" tabindex="-1" data-saving=t.slideExport.default.saving[lang]) !{"&check; " + typeset(t.slideExport.default.save[lang])}

        button.button.tertiary(type="button" data-nav-button="prev" tabindex="-1") !{typeset(t.slideExport.default.return[lang])}

    .privacy-policy !{typeset(t.slideExport.default.privacyPolicy[lang])}

      //- Logo TAČR
    .tacr
      svg.tacr-logo
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-tacr")
      p.tacr-text !{typeset(t.slideExport.default.logolink[lang])}
