section.slide.active-slide.visited-slide.slide-initial#slide-initial
  .overlay(style="background-image: url(../assets/img/" + cv.cviceni.uvodniObrazek + ")")
  .content
    .zadani
      .h6
        span(data-done= t.slideForm.done.welcome[lang])= t.slideForm.default.welcome[lang]
        span.show-when-done.hidden(data-form="about-user-email")= " — " + t.slideForm.done.completedBy[lang]
      h1 !{typeset(cv.cviceni.nazev)}
      - const defaultUvodniText = t.slideForm.default.missingAnotation[lang]
      - const uvodniText = (cv.cviceni.anotace && cv.cviceni.anotace.verejna) ? cv.cviceni.anotace.verejna : defaultUvodniText
      p.anotation !{typeset(uvodniText)}

    +mamHotovo({done: t.slideForm.done.button[lang], default: t.slideForm.default.button.default[lang], hover: t.slideForm.default.button.hover[lang],})
