<p>„Zatímco dnešní děti sledujou svoje oblíbený seriálový hvězdy na Instagramu, my jsme o nich v devadesátkách četli v Bravíčku a sbírali jejich samolepky. Kdo neměl samolepkový album anebo aspoň nějakou cool sbírku, byl zkrátka ‚out‘.”</p>
<p>„Cena 17,50,-. Pamatuju si, jak jsem vždycky mamku prosila, aby mi dala dvacku na Bravíčko.”</p>
<p>„Že Dylan končí v Beverly Hills, bylo tehdy téma měsíce. Anebo možná i roku. Pamatujete? Dylan odešel a najednou to bez něj prostě nebylo ono. Tvůrci se sice snažili vymejšlet další podobný postavy, jenže Dylan byl prostě jen jeden – ten první a nejhezčí televizní bad boy na světě. Vytrhávací plakát s tímhle charismatickym krasavcem měl cenu zlata.”</p>
<p>„Např. v 97. mi z Bravíčka nesměly uniknout samolepky Backstreet Boys (bohužel byli tenkrát ‚in‘) a Will Smith coby MiB. Díky Bohu se objevovaly i samolepky Offspring a ty byly nalepené všude.”</p>
<p>„Já měla samolepkový album s DiCapriem... Dodnes mě trápí, že jsem tam měla nalepenou jenom půlku Titaniku.”</p>
<p>„Na tom je fascinující, na čem všem se dalo vydělat, dneska díky internetu by za fotky seriálových hrdinů nikdo nedal ani korunu.”</p>
