.slide-initial {
  color: $bg-color-1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: $base-unit * 2;

  .overlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .content {
    position: relative;
    z-index: 1;
    max-width: 80ch;
    width: 100%;
  }

  .zadani {
    margin: 0 $base-unit $base-unit;
    padding: 0;

    > * {
      text-shadow: 0 1px 0.38em rgba($text-color, 0.62);
    }

    .h6 {
      opacity: 0.8;
    }

    h1 {
      font-weight: 700;
      margin-bottom: $base-unit;
    }
  }
}
