<h2>Otakar Vávra o filmu Sokolovo</h2>
<p><b>Jaký bude tento váš nový film?</b></p>
<p>„Bude to dvojdílný hraný dokument, jehož děj se bude odehrávat ve dvou rovinách. V prvním dílu budeme sledovat československé hnutí odporu v zahraničí a setkání obou jeho center - buržoazního, vedeného Eduardem Benešem v Londýně, a komunistického, jehož činnost řídil Klement Gottwald v Moskvě. [...] Souběžně s tím budou před námi probíhat události vnitřního života v zemi, zejména atentát na Heydricha, vyhlazení Lidic, růst antifašistického odporu československého lidu.“</p>