<p><strong>Albertov 7</strong>, unknown author, 2014</p>
<p>Text:</p>
<p>17. 11. 1989 – 17. 11. 2014 / 25. anniversary of the Velvet Revolution / and the parade of university students / from Albertov to Národní třída [National Avenue] on November 17. / Dedicated to the memory of all the brave / citizens of our country who have not been afraid to express their opinions and have fought  / for freedom and democracy.  / The plaque was unveiled collectively on November 17, 2014, by the presidents of:/  The Czech Republic Miloš Zeman  / Polish Republic BronisŁav Komorowski  /  Federal Republic of Germany Joachim Gauck / Hungary János Áder  / Slovak Republic Andrej Kiska</p>