<p><b>DOHODA</b> mezi vládou Svazu sovětských socialistických republik a vládou Československé republiky o rozšíření těžby rud a koncentrátů v Československu, obsahujících radium a jiné radioaktivní prvky, jakož i o jejich dodávkách Svazu Sovětských Socialistických Republik. </p>
<p>Vláda Svazu Sovětských Socialistických Republik a vláda Československé republiky dohodly se jak následuje:</p>

<p><b>Část 1.</b></p>
<p>Československá vláda organisuje státní podnik pro výzkum a exploataci všech nalezišť obsahujících radium a radioaktivní prvky, které náleží Československému státu.</p>
 
<p><b>Část 2.</b></p>
<p>Československá vláda učiní vše k maximálnímu zvýšení těžby rudy a koncentrátů, obsahujících radium a jiné radioaktivní prvky v obvodu města Jáchymova.</p>
 
<p><b>Část 3.</b></p>
<p>Vláda Sovětského svazu poskytne všestrannou technickou pomoc pro výzkum a exploataci výše uvedených nalezišť. Tato pomoc bude pozůstávati jednak ve vyslání odborníků pro organisaci vyhledávání a průmyslového výzkumu nalezišť i pro práce na těžbě rudy a koncentrátů, a též v dodávce nutného zařízení a materiálu.</p>
 
<p>[…]</p>

<p><b>Část 5.</b></p>
<p>Československo-sovětská komise rozhodne, která část vytěžené rudy a koncentrátů zůstane v Československu pro jeho nutné hospodářské a vědecké potřeby. Všechna ostatní vytěžená ruda i koncentráty, obsahující radium a jiné radioaktivní prvky, budou se odevzdávati Svazu Sovětských Socialistických Republik.</p>
<p>[…]</p>
<p>Vzájemné vyúčtování, vyplývající z postoupení rudy a koncentrátů na zpracování do SSSR a z navrácení radia do Československa, bude se prováděti na základě cen za rudu a koncentráty i cen za radium, ustavených za souhlasu obou vlád, s uhrazením vzniknuvších rozdílů buď v dodávkách zboží, anebo ve valutě dle dohody stran.</p>
 
<p><b>Část 6.</b></p>
<p>Se Sovětské strany souhlasí se s tím, aby byli vysláni do Československa mezi odborníky jeden odborník v hodnosti technického ředitele, jeden odborník v hodnosti vrchního inženýra a jeden odborník v hodnosti přednosty technické kontroly Jáchymovského závodu.</p>