<p>Často jsem našemu pokolení blahopřál k tomu, že se nám právě v naší době dostalo tak zvlášť velikého a vpravdě božského dobrodiní v podobě nového způsobu rozmnožování knih, který k nám přišel z Německa. Viděl jsem totiž, že nyní může být v jednom měsíci jedním jediným člověkem vytištěno tolik spisů, kolik jich mohlo být jinak sotva zvládnuto v jednom roce. Doufám tedy v krátké době v takové množství knih, že si v budoucnu nebude muset ani chudý a nemajetný odříci sotva ještě nějaké dílo.</p>
<small>Niccolò Perott (1430–1480)</small>