<p>I. Vaše manželství, nechť se řídí tak, aby manželka spokojila se jedním mužem
  a muž jednou ženou zákonitě před církví provdanou. Kdyby nesvár mezi nimi
  dospěl až k roztržce, ten z nich, který by se nechtěl vrátit do dřívějšího
  svazku zákonitě uzavřeného, budiž uvržen do vyhnanství do Uher.</p>
<p>II. Kdyby si žena stěžovala, že svým mužem není milována slušně, nýbrž že je
  uchopována neslušně, budiž mezi nimi uspořádán boží soud před církví, a kdo by
  byl shledán vinným, nechť zaplatí knížeti povinné pokuty.</p>
<p>III. O těch, o nichž se proslýchá, že zabili člověka, správce příslušného
  hradu ať je obešle k soudu, a kdyby se vzpírali, uvrhne je do vězení, buď
  učiní náležité pokání nebo zapírají-li, vyjde najevo žhavým železem nebo
  popřísežnou vodou jejich hřích či nevinna.</p>
<p>IV. Krčmu, která jest kořen všech špatností, odtud pocházejí krádeže, vraždy
  a všechny špatnosti, kdo zřídí nebo zřízenou za plat převezme, ať je veden ke
  středu tržiště, přivázán k sloupu a mrskán pruty jak dlouho by biřic
  chtěl.</p>
<p>V. Pijáci pak, kdyby byli postiženi v krčmě, ať nevyjdou z vězení, dokud by
  nesložili 300 denárů pro knížecí komoru.</p>
<p>VI. Ti, kdož své mrtvé ve víře zemřelé pohřbívají na polích nebo v lesích:
  dají arciknězi vola, knížeti pak 300 denárů, mrtvý nadto ať je dopraven na
  křesťanský hřbitov.</p>
