<div style="display: flex; justify-content: space-between;">
    <p>chléb</p>
    <p>3 Kčs / 1 kg</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>máslo</p>
    <p>26 Kčs / 1 kg</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>vejce</p>
    <p>1 Kčs / 1 kus</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>mléko</p>
    <p>2 Kčs / 1 litr</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>brambory</p>
    <p>1 Kčs / 1 kg</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>vepřové maso</p>
    <p>17 Kčs / 1 kg</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>cukr</p>
    <p>6 Kčs / 1 kg</p>
</div>
<div style="display: flex; justify-content: space-between;">
    <p>pivo</p>
    <p>3 Kčs / 1 litr</p>
</div>