<p>10. červen 1951 stane se v kulturních dějinách města České Třebové význačným dnem, neboť toho dne se obohacuje město prvořadou uměleckou památkou, pomníkem „Sbratření”, pomníkem československo-sovětského přátelství [...]. Tímto činem dostává se Česká Třebová v popředí čsl. měst, která se odvděčují sovětskému lidu za jeho pomoc při osvobození vlasti z nacistické krutovlády. [...]</p>
<p>Polibek sovětského vojáka na tvář čsl. partyzána je nejkrásnějším výrazem slovanského bratrství a snítka bezu v rukou Rudoarmějce je symbol měsíce, v němž jsme vítali Rudou armádu.</p>