<p>„Můj brácha jich měl spoustu. Nejraději měl zedníka. Vždycky seděl na zemi pod oknem a jeho nářadím dloubal do zdi. Nelžu… Za dva roky vydloubal takovou díru, že tam táta dal rouru a zabudoval ‚wawky‘.“</p>
<p>„Chodila jsem kolem hračkářství, přemlouvala babičku. Nakonec jsem babičku udolala. Byla jsem pyšná, když jsem si ho nesla domů. Byl to zedník, hrála jsem si s ním celé prázdniny.“</p>
<p>„To bylo fajn na hraní, nezabralo to moc místa a bylo jich hodně, snad ze všech zaměstnání.“</p>
<p>„Já si je kupoval sám, hlídal jsem, jak vyšel nový, a hned jsem ho letěl koupit, ať mám kompletní sbírku.“</p>
<p>„Stále mám zdravotní sestřičku. Dostala jsem ji, když jsem začala chodit na zdrávku.“</p>
<p>„Byl to takový pán, šla mu sundat čepice, mohl padat z výšky, protože to vydržel - mohl skočit ze stolu, mohl ho někdo přepadnout a spadnout dolů. Mohl pak skočit nahoru.“</p>