<h2>Mohylové pohřebiště Javor</h2>
<p><em>Českofalcká mohylová kultura (střední doba bronzová; cca 1650 – 1300 př. n. l.) a kultura popelnicových polí (mladší doba bronzová; cca 1300 – 1050 př. n. l.)</em></p>
<p><b>Zkoumáno v letech 1878-1883</b></p>
<p>Na východ od loveckého zámku Kozel se hlubokým lesem táhne cesta, která nás po 3,5 kilometrech dovede k mohylovému pohřebišti „Javor“ pojmenovaném podle nedalekého kopce. V době našeho výzkumu se největší mohyly nacházely ve vzrostlém lese určeném k pokácení, menší mohyly byly později dohledány v hustém porostu mladých smrků. Celkově se pohřebiště skládalo ze 42 mohyl. V mohylách byly uloženy žárové pohřby s bohatou výbavou odpovídající českofalcké mohylové kultuře: bronzové šperky, bronzové zbraně a keramické nádoby.</p>
<p>Jižně od mohylového pohřebiště se nachází vrch „Baba“, který dnes slouží jako kamenolom. V minulosti zde místní dělníci nalezli výbavu z žárového pohřbu kultury popelnicových polí.</p>
<p>Na mýtině východně od pohřebiště jsme našli zbytky valů středověké tvrze. Tomuto místu se lidově říká „Zámeček“. Jeho výzkum přinesl několik středověkých nálezů: železné hroty šípů a železnou ostruhu. V údolí pod ním se nalézá protržená hráz. </p>
<p>Severně od Zámečku jsme našli ruiny zcela zapomenuté vesnice. V ní se nachází další protržená hráz, vodní nádrž čtvercového půdorysu a několik prohlubní, které jsou pozůstatky dřevěných středověkých domů. Na jejich dně jsme nalezli střepy středověkých nádob a zbytky železných zemědělských nástrojů. Tato zaniklá vesnice se mohla jmenovat Javor a mohla být sídlem šlechtického rodu zmiňovaného v historických pramenech mezi lety 1373 a 1428. Velké množství rybníků a vodních nádrží je dokladem chovu ryb.</p>